SPRING_PROFILE=dev/prod
DB_URL=jdbc:mysql://localhost:3306/your_database_name
DB_USERNAME=your_database_username
DB_PWD=your_database_password
MAIL_HOST=smpt.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=generate app password from google account -> security -> app password
JWT_SECRET=generate a secure random string for JWT secret key
FRONTEND_URL=http://localhost:4200

** to generate a secure random string for JWT secret key, you can use the following commands in your terminal:

- FOR WINDOWS:
  - powershell ->
        $bytes = New-Object byte[] 32; $rng = [System.Security.Cryptography.RandomNumberGenerator]::Create(); $rng.GetBytes($bytes); [Convert]::ToBase64String($bytes); $rng.Dispose()
  - command line ->
        powershell -NoProfile -Command "$bytes = New-Object byte[] 32; $rng = [System.Security.Cryptography.RandomNumberGenerator]::Create(); $rng.GetBytes($bytes); [Convert]::ToBase64String($bytes); $rng.Dispose()"
- FOR LINUX/MAC:
  - openssl rand -base64 32

** copy the above content to a new file named .env and replace the placeholder values with your actual database credentials and email configuration.
 Make sure to keep this file secure and do not commit it to version control.