# Default ignored files
/shelf/
/workspace.xml
/encodings.xml
/material_theme_project_new.xml
/misc.xml
/vcs.xml
/aws.xml
/copilot.data.migration.edit.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.agent.xml
